In [ ]:
import pandas as pd

In [ ]:
# 数据预处理
# 导入数据并显示前6行数据来检查数据是否正确
df = pd.read_csv('死亡人数.csv',encoding='gbk')
bf = pd.read_csv('出生人数.csv',encoding='gbk')
pd.set_option('display.max_columns',30)
display(df.head(6))
display(bf.head(6))

In [ ]:
# 合并数据集
df = df.set_index(['Country name', 'Year'], drop=True)
bf = bf.set_index(['Country name', 'Year'], drop=True)
bd = pd.merge(df,bf,on=['Country name','Year'])

In [ ]:
# 数据清洗
bd.isnull().sum() # 查看缺失值
for i in bd.columns:
    x = bd[i].mean()# 计算每列的均值
    bd.fillna({i:x}, inplace=True) # 用均值填充缺失值
bd.isnull().sum() # 查看缺失值是否全部处理完毕

In [85]:
# 清洗字符串格式
import dis
import re

from numpy import disp
for i in bd.columns:
    if bd[i].dtype == 'object':
        bd[i] = bd[i].apply(lambda x: re.sub(r'[^\w\s]','',x))

# 显示数据
pd.set_option('display.max_columns',100)
display(bd.head())

                   Deaths  Deaths of children under the age of 1  \
Country name Year
Afghanistan  1950  283668                               106003.0
             1951  282577                               105086.0
             1952  280803                               105028.0
             1953  279684                               104949.0
             1954  280476                               104767.0

                   Deaths of children under the age of 5  \
Country name Year
Afghanistan  1950                               156547.0
             1951                               154810.0
             1952                               153384.0
             1953                               152620.0
             1954                               152387.0

                   Deaths aged 1 to 4 years  Deaths aged 5 to 9 years  \
Country name Year
Afghanistan  1950                   50544.0                   10043.0
             1951                   49724.0                   10225.0
             1952                   48356.0                   10305.0
             1953                   47671.0                   10321.0
             1954                   47620.0                   10480.0

                   Deaths aged 10 to 14 years  Deaths aged 15 to 19 years  \
Country name Year
Afghanistan  1950                      6549.0                      7752.0
             1951                      6588.0                      7802.0
             1952                      6560.0                      7794.0
             1953                      6540.0                      7787.0
             1954                      6716.0                      7914.0

                   Deaths aged 20 to 29 years  Deaths aged 30 to 39 years  \
Country name Year
Afghanistan  1950                     18036.0                     17161.0
             1951                     18161.0                     17247.0
             1952                     18121.0                     17179.0
             1953                     18077.0                     17114.0
             1954                     18244.0                     17234.0

                   Deaths aged 40 to 49 years  Deaths aged 50 to 59 years  \
Country name Year
Afghanistan  1950                     16389.0                     17605.0
             1951                     16367.0                     17521.0
             1952                     16218.0                     17323.0
             1953                     16081.0                     17139.0
             1954                     16109.0                     17108.0

                   Deaths aged 60 to 69 years  Deaths aged 70 to 79 years  \
Country name Year
Afghanistan  1950                     18715.0                     12380.0
             1951                     18681.0                     12536.0
             1952                     18531.0                     12615.0
             1953                     18401.0                     12700.0
             1954                     18404.0                     12849.0

                   Deaths aged 80 to 89 years  Deaths aged 90 to 99 years  \
Country name Year
Afghanistan  1950                      2434.0                        55.0
             1951                      2594.0                        49.0
             1952                      2716.0                        58.0
             1953                      2828.0                        71.0
             1954                      2949.0                        81.0

                   deaths__all__20_24__records  deaths__all__25_29__records  \
Country name Year
Afghanistan  1950                       9196.0                       8840.0
             1951                       9249.0                       8912.0
             1952                       9211.0                       8910.0
             1953                       9169.0                       8908.0
             1954                       9244.0                       9000.0

                   deaths__all__30_34__records  deaths__all__35_39__records  \
Country name Year
Afghanistan  1950                       8684.0                       8477.0
             1951                       8732.0                       8515.0
             1952                       8703.0                       8476.0
             1953                       8676.0                       8438.0
             1954                       8749.0                       8485.0

                   deaths__all__40_44__records  deaths__all__45_49__records  \
Country name Year
Afghanistan  1950                       8285.0                       8104.0
             1951                       8288.0                       8079.0
             1952                       8240.0                       7978.0
             1953                       8208.0                       7873.0
             1954                       8253.0                       7856.0

                   deaths__all__50_54__records  deaths__all__55_59__records  \
Country name Year
Afghanistan  1950                       8639.0                       8966.0
             1951                       8611.0                       8910.0
             1952                       8544.0                       8779.0
             1953                       8492.0                       8647.0
             1954                       8508.0                       8600.0

                   deaths__all__60_64__records  deaths__all__65_69__records  \
Country name Year
Afghanistan  1950                       9698.0                       9017.0
             1951                       9663.0                       9018.0
             1952                       9578.0                       8953.0
             1953                       9508.0                       8893.0
             1954                       9508.0                       8896.0

                   deaths__all__70_74__records  deaths__all__75_79__records  \
Country name Year
Afghanistan  1950                       7515.0                       4865.0
             1951                       7573.0                       4963.0
             1952                       7583.0                       5032.0
             1953                       7600.0                       5100.0
             1954                       7661.0                       5188.0

                   deaths__all__80_84__records  deaths__all__85_89__records  \
Country name Year
Afghanistan  1950                       1987.0                        447.0
             1951                       2100.0                        494.0
             1952                       2192.0                        524.0
             1953                       2274.0                        554.0
             1954                       2355.0                        594.0

                   deaths__all__90_94__records  deaths__all__95_99__records  \
Country name Year
Afghanistan  1950                         51.0                          4.0
             1951                         47.0                          2.0
             1952                         54.0                          4.0
             1953                         65.0                          6.0
             1954                         76.0                          5.0

                   deaths__all__0_9__records  deaths__all__10_19__records  \
Country name Year
Afghanistan  1950                   166590.0                      14301.0
             1951                   165035.0                      14390.0
             1952                   163689.0                      14354.0
             1953                   162941.0                      14327.0
             1954                   162867.0                      14630.0

                   deaths__all__100plus__records    Births  \
Country name Year
Afghanistan  1950                            0.0  365303.0
             1951                            0.0  372040.0
             1952                            0.0  378290.0
             1953                            0.0  384933.0
             1954                            0.0  390412.0

                   Births from mothers aged 15 to 19 years  \
Country name Year
Afghanistan  1950                                  49818.0
             1951                                  50953.0
             1952                                  52179.0
             1953                                  53106.0
             1954                                  53903.0

                   Births from mothers aged 20 to 24 years  \
Country name Year
Afghanistan  1950                                  92189.0
             1951                                  94080.0
             1952                                  95550.0
             1953                                  97439.0
             1954                                  98920.0

                   Births from mothers aged 25 to 29 years  \
Country name Year
Afghanistan  1950                                  85980.0
             1951                                  87531.0
             1952                                  88980.0
             1953                                  90483.0
             1954                                  92193.0

                   Births from mothers aged 30 to 34 years  \
Country name Year
Afghanistan  1950                                  65730.0
             1951                                  66674.0
             1952                                  67546.0
             1953                                  68756.0
             1954                                  69592.0

                   Births from mothers aged 35 to 39 years  \
Country name Year
Afghanistan  1950                                  43741.0
             1951                                  44425.0
             1952                                  45142.0
             1953                                  45803.0
             1954                                  46370.0

                   Births from mothers aged 40 to 44 years  \
Country name Year
Afghanistan  1950                                  19594.0
             1951                                  19959.0
             1952                                  20417.0
             1953                                  20751.0
             1954                                  20926.0

                   Births from mothers aged 45 to 49 years  \
Country name Year
Afghanistan  1950                                3787.0000
             1951                                3865.0000
             1952                                3938.0000
             1953                                4010.0002
             1954                                4038.0000

                   births__all__10_14__records  births__all__50_54__records
Country name Year
Afghanistan  1950                       4312.0                        152.0
             1951                       4396.0                        157.0
             1952                       4383.0                        158.0
             1953                       4423.0                        161.0
             1954                       4310.0                        162.0

In [96]:
# 数据分析
# 总览分析
# 计算全球总出生人数和总死亡人数
total_birth = bd.loc[('World'), 'Births'].astype('int64').sum() # type: ignore
display(total_birth)
total_death = bd.loc[('World'), 'Deaths'].astype('int64').sum() # type: ignore
display(total_death)

# 计算各国的总出生人数和总死亡人数
total_births = bd.loc[:, 'Births'].astype('int64')
display(total_births)

9119585530

3655573526

Country name  Year
Afghanistan   1950    365303
              1951    372040
              1952    378290
              1953    384933
              1954    390412
                       ...
Zimbabwe      2017    480635
              2018    483783
              2019    484906
              2020    486393
              2021    488807
Name: Births, Length: 18360, dtype: int64