In [17]:
import pandas as pd
import numpy as np

In [18]:
# 数据预处理
# 导入数据并显示前6行数据来检查数据是否正确
df = pd.read_csv('死亡人数.csv',encoding='gbk')
bf = pd.read_csv('出生人数.csv',encoding='gbk')
pd.set_option('display.max_columns',30)
display(df.head(6))
display(bf.head(6))

,Country name,Year,Deaths,Deaths of children under the age of 1,Deaths of children under the age of 5,Deaths aged 1 to 4 years,Deaths aged 5 to 9 years,Deaths aged 10 to 14 years,Deaths aged 15 to 19 years,Deaths aged 20 to 29 years,Deaths aged 30 to 39 years,Deaths aged 40 to 49 years,Deaths aged 50 to 59 years,Deaths aged 60 to 69 years,Deaths aged 70 to 79 years,...,deaths__all__40_44__records,deaths__all__45_49__records,deaths__all__50_54__records,deaths__all__55_59__records,deaths__all__60_64__records,deaths__all__65_69__records,deaths__all__70_74__records,deaths__all__75_79__records,deaths__all__80_84__records,deaths__all__85_89__records,deaths__all__90_94__records,deaths__all__95_99__records,deaths__all__0_9__records,deaths__all__10_19__records,deaths__all__100plus__records
0,Afghanistan,1950,283668,106003.0,156547.0,50544.0,10043.0,6549.0,7752.0,18036.0,17161.0,16389.0,17605.0,18715.0,12380.0,...,8285.0,8104.0,8639.0,8966.0,9698.0,9017.0,7515.0,4865.0,1987.0,447.0,51.0,4.0,166590.0,14301.0,0.0
1,Afghanistan,1951,282577,105086.0,154810.0,49724.0,10225.0,6588.0,7802.0,18161.0,17247.0,16367.0,17521.0,18681.0,12536.0,...,8288.0,8079.0,8611.0,8910.0,9663.0,9018.0,7573.0,4963.0,2100.0,494.0,47.0,2.0,165035.0,14390.0,0.0
2,Afghanistan,1952,280803,105028.0,153384.0,48356.0,10305.0,6560.0,7794.0,18121.0,17179.0,16218.0,17323.0,18531.0,12615.0,...,8240.0,7978.0,8544.0,8779.0,9578.0,8953.0,7583.0,5032.0,2192.0,524.0,54.0,4.0,163689.0,14354.0,0.0
3,Afghanistan,1953,279684,104949.0,152620.0,47671.0,10321.0,6540.0,7787.0,18077.0,17114.0,16081.0,17139.0,18401.0,12700.0,...,8208.0,7873.0,8492.0,8647.0,9508.0,8893.0,7600.0,5100.0,2274.0,554.0,65.0,6.0,162941.0,14327.0,0.0
4,Afghanistan,1954,280476,104767.0,152387.0,47620.0,10480.0,6716.0,7914.0,18244.0,17234.0,16109.0,17108.0,18404.0,12849.0,...,8253.0,7856.0,8508.0,8600.0,9508.0,8896.0,7661.0,5188.0,2355.0,594.0,76.0,5.0,162867.0,14630.0,0.0
5,Afghanistan,1955,277695,104369.0,151685.0,47316.0,10080.0,6554.0,7738.0,17931.0,16981.0,15833.0,16778.0,18137.0,12835.0,...,8133.0,7700.0,8355.0,8423.0,9353.0,8784.0,7621.0,5214.0,2414.0,637.0,85.0,6.0,161765.0,14292.0,0.0

,Country name,Year,Births,Births from mothers aged 15 to 19 years,Births from mothers aged 20 to 24 years,Births from mothers aged 25 to 29 years,Births from mothers aged 30 to 34 years,Births from mothers aged 35 to 39 years,Births from mothers aged 40 to 44 years,Births from mothers aged 45 to 49 years,births__all__10_14__records,births__all__50_54__records
0,Afghanistan,1950,365303.0,49818.0,92189.0,85980.0,65730.0,43741.0,19594.0,3787.0000,4312.0,152.0
1,Afghanistan,1951,372040.0,50953.0,94080.0,87531.0,66674.0,44425.0,19959.0,3865.0000,4396.0,157.0
2,Afghanistan,1952,378290.0,52179.0,95550.0,88980.0,67546.0,45142.0,20417.0,3938.0000,4383.0,158.0
3,Afghanistan,1953,384933.0,53106.0,97439.0,90483.0,68756.0,45803.0,20751.0,4010.0002,4423.0,161.0
4,Afghanistan,1954,390412.0,53903.0,98920.0,92193.0,69592.0,46370.0,20926.0,4038.0000,4310.0,162.0
5,Afghanistan,1955,397156.0,54626.0,100864.0,93698.0,71062.0,47076.0,21180.0,4162.0000,4319.0,170.0

In [19]:
# 合并数据集
df = df.set_index(['Country name', 'Year'], drop=True)
bf = bf.set_index(['Country name', 'Year'], drop=True)
bd = pd.merge(df,bf,on=['Country name','Year'])

In [20]:
# 数据清洗
bd.isnull().sum() # 查看缺失值
for i in bd.columns:
    x = bd[i].mean()# 计算每列的均值
    bd.fillna({i:x}, inplace=True) # 用均值填充缺失值
bd.isnull().sum() # 查看缺失值是否全部处理完毕

Deaths                                     0
Deaths of children under the age of 1      0
Deaths of children under the age of 5      0
Deaths aged 1 to 4 years                   0
Deaths aged 5 to 9 years                   0
Deaths aged 10 to 14 years                 0
Deaths aged 15 to 19 years                 0
Deaths aged 20 to 29 years                 0
Deaths aged 30 to 39 years                 0
Deaths aged 40 to 49 years                 0
Deaths aged 50 to 59 years                 0
Deaths aged 60 to 69 years                 0
Deaths aged 70 to 79 years                 0
Deaths aged 80 to 89 years                 0
Deaths aged 90 to 99 years                 0
deaths__all__20_24__records                0
deaths__all__25_29__records                0
deaths__all__30_34__records                0
deaths__all__35_39__records                0
deaths__all__40_44__records                0
deaths__all__45_49__records                0
deaths__all__50_54__records                0
deaths__all__55_59__records                0
deaths__all__60_64__records                0
deaths__all__65_69__records                0
deaths__all__70_74__records                0
deaths__all__75_79__records                0
deaths__all__80_84__records                0
deaths__all__85_89__records                0
deaths__all__90_94__records                0
deaths__all__95_99__records                0
deaths__all__0_9__records                  0
deaths__all__10_19__records                0
deaths__all__100plus__records              0
Births                                     0
Births from mothers aged 15 to 19 years    0
Births from mothers aged 20 to 24 years    0
Births from mothers aged 25 to 29 years    0
Births from mothers aged 30 to 34 years    0
Births from mothers aged 35 to 39 years    0
Births from mothers aged 40 to 44 years    0
Births from mothers aged 45 to 49 years    0
births__all__10_14__records                0
births__all__50_54__records                0
dtype: int64

In [21]:
# 清洗字符串格式
import dis
import re

from numpy import disp
for i in bd.columns:
    if bd[i].dtype == 'object':
        bd[i] = bd[i].apply(lambda x: re.sub(r'[^\w\s]','',x))

# 显示数据
pd.set_option('display.max_columns',100)
display(bd.head())

                   Deaths  Deaths of children under the age of 1  \
Country name Year
Afghanistan  1950  283668                               106003.0
             1951  282577                               105086.0
             1952  280803                               105028.0
             1953  279684                               104949.0
             1954  280476                               104767.0

                   Deaths of children under the age of 5  \
Country name Year
Afghanistan  1950                               156547.0
             1951                               154810.0
             1952                               153384.0
             1953                               152620.0
             1954                               152387.0

                   Deaths aged 1 to 4 years  Deaths aged 5 to 9 years  \
Country name Year
Afghanistan  1950                   50544.0                   10043.0
             1951                   49724.0                   10225.0
             1952                   48356.0                   10305.0
             1953                   47671.0                   10321.0
             1954                   47620.0                   10480.0

                   Deaths aged 10 to 14 years  Deaths aged 15 to 19 years  \
Country name Year
Afghanistan  1950                      6549.0                      7752.0
             1951                      6588.0                      7802.0
             1952                      6560.0                      7794.0
             1953                      6540.0                      7787.0
             1954                      6716.0                      7914.0

                   Deaths aged 20 to 29 years  Deaths aged 30 to 39 years  \
Country name Year
Afghanistan  1950                     18036.0                     17161.0
             1951                     18161.0                     17247.0
             1952                     18121.0                     17179.0
             1953                     18077.0                     17114.0
             1954                     18244.0                     17234.0

                   Deaths aged 40 to 49 years  Deaths aged 50 to 59 years  \
Country name Year
Afghanistan  1950                     16389.0                     17605.0
             1951                     16367.0                     17521.0
             1952                     16218.0                     17323.0
             1953                     16081.0                     17139.0
             1954                     16109.0                     17108.0

                   Deaths aged 60 to 69 years  Deaths aged 70 to 79 years  \
Country name Year
Afghanistan  1950                     18715.0                     12380.0
             1951                     18681.0                     12536.0
             1952                     18531.0                     12615.0
             1953                     18401.0                     12700.0
             1954                     18404.0                     12849.0

                   Deaths aged 80 to 89 years  Deaths aged 90 to 99 years  \
Country name Year
Afghanistan  1950                      2434.0                        55.0
             1951                      2594.0                        49.0
             1952                      2716.0                        58.0
             1953                      2828.0                        71.0
             1954                      2949.0                        81.0

                   deaths__all__20_24__records  deaths__all__25_29__records  \
Country name Year
Afghanistan  1950                       9196.0                       8840.0
             1951                       9249.0                       8912.0
             1952                       9211.0                       8910.0
             1953                       9169.0                       8908.0
             1954                       9244.0                       9000.0

                   deaths__all__30_34__records  deaths__all__35_39__records  \
Country name Year
Afghanistan  1950                       8684.0                       8477.0
             1951                       8732.0                       8515.0
             1952                       8703.0                       8476.0
             1953                       8676.0                       8438.0
             1954                       8749.0                       8485.0

                   deaths__all__40_44__records  deaths__all__45_49__records  \
Country name Year
Afghanistan  1950                       8285.0                       8104.0
             1951                       8288.0                       8079.0
             1952                       8240.0                       7978.0
             1953                       8208.0                       7873.0
             1954                       8253.0                       7856.0

                   deaths__all__50_54__records  deaths__all__55_59__records  \
Country name Year
Afghanistan  1950                       8639.0                       8966.0
             1951                       8611.0                       8910.0
             1952                       8544.0                       8779.0
             1953                       8492.0                       8647.0
             1954                       8508.0                       8600.0

                   deaths__all__60_64__records  deaths__all__65_69__records  \
Country name Year
Afghanistan  1950                       9698.0                       9017.0
             1951                       9663.0                       9018.0
             1952                       9578.0                       8953.0
             1953                       9508.0                       8893.0
             1954                       9508.0                       8896.0

                   deaths__all__70_74__records  deaths__all__75_79__records  \
Country name Year
Afghanistan  1950                       7515.0                       4865.0
             1951                       7573.0                       4963.0
             1952                       7583.0                       5032.0
             1953                       7600.0                       5100.0
             1954                       7661.0                       5188.0

                   deaths__all__80_84__records  deaths__all__85_89__records  \
Country name Year
Afghanistan  1950                       1987.0                        447.0
             1951                       2100.0                        494.0
             1952                       2192.0                        524.0
             1953                       2274.0                        554.0
             1954                       2355.0                        594.0

                   deaths__all__90_94__records  deaths__all__95_99__records  \
Country name Year
Afghanistan  1950                         51.0                          4.0
             1951                         47.0                          2.0
             1952                         54.0                          4.0
             1953                         65.0                          6.0
             1954                         76.0                          5.0

                   deaths__all__0_9__records  deaths__all__10_19__records  \
Country name Year
Afghanistan  1950                   166590.0                      14301.0
             1951                   165035.0                      14390.0
             1952                   163689.0                      14354.0
             1953                   162941.0                      14327.0
             1954                   162867.0                      14630.0

                   deaths__all__100plus__records    Births  \
Country name Year
Afghanistan  1950                            0.0  365303.0
             1951                            0.0  372040.0
             1952                            0.0  378290.0
             1953                            0.0  384933.0
             1954                            0.0  390412.0

                   Births from mothers aged 15 to 19 years  \
Country name Year
Afghanistan  1950                                  49818.0
             1951                                  50953.0
             1952                                  52179.0
             1953                                  53106.0
             1954                                  53903.0

                   Births from mothers aged 20 to 24 years  \
Country name Year
Afghanistan  1950                                  92189.0
             1951                                  94080.0
             1952                                  95550.0
             1953                                  97439.0
             1954                                  98920.0

                   Births from mothers aged 25 to 29 years  \
Country name Year
Afghanistan  1950                                  85980.0
             1951                                  87531.0
             1952                                  88980.0
             1953                                  90483.0
             1954                                  92193.0

                   Births from mothers aged 30 to 34 years  \
Country name Year
Afghanistan  1950                                  65730.0
             1951                                  66674.0
             1952                                  67546.0
             1953                                  68756.0
             1954                                  69592.0

                   Births from mothers aged 35 to 39 years  \
Country name Year
Afghanistan  1950                                  43741.0
             1951                                  44425.0
             1952                                  45142.0
             1953                                  45803.0
             1954                                  46370.0

                   Births from mothers aged 40 to 44 years  \
Country name Year
Afghanistan  1950                                  19594.0
             1951                                  19959.0
             1952                                  20417.0
             1953                                  20751.0
             1954                                  20926.0

                   Births from mothers aged 45 to 49 years  \
Country name Year
Afghanistan  1950                                3787.0000
             1951                                3865.0000
             1952                                3938.0000
             1953                                4010.0002
             1954                                4038.0000

                   births__all__10_14__records  births__all__50_54__records
Country name Year
Afghanistan  1950                       4312.0                        152.0
             1951                       4396.0                        157.0
             1952                       4383.0                        158.0
             1953                       4423.0                        161.0
             1954                       4310.0                        162.0

In [26]:
# 数据分析
# 总览分析
# 计算全球总出生人数和总死亡人数
from re import A


total_birth = bd.loc[('World'), 'Births'].astype('int64').sum() # type: ignore
display(total_birth)
total_death = bd.loc[('World'), 'Deaths'].astype('int64').sum() # type: ignore
display(total_death)

# 计算各国的总出生人数和总死亡人数
index = bd.index.levels[0] # type: ignore  levels在新版本pandas中被移除
display(index)
a = []
for i in index:
    values = bd.loc[i, 'Births'].astype('int64').sum() # type: ignore
    a.append(values)
print(a)
bd['Births_sum'] = pd.Series(a, index=index) 
display(bd)

9119585530

3655573526

Index(['Afghanistan', 'Africa (UN)', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       ...
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country name', length=255)

[54457522, 1847306968, 4433527, 52154240, 87023, 37782, 43983839, 13809, 106283, 45916675, 4287414, 99666, 5480309144, 18094554, 6902922, 12468886, 376901, 907837, 231445437, 339233, 10274663, 9298709, 428436, 16910185, 62099, 1031435, 16029692, 16388, 4860708, 2986467, 241549750, 18137, 403332, 7884459, 30974026, 17882473, 21928493, 35314662, 27623211, 854310, 33576, 9360152, 23625059, 19023443, 1582454917, 56064245, 1146790, 6968965, 38098, 4982936, 37116542, 4342513, 12699291, 221185, 988691, 9561668, 125336438, 4822640, 1106305, 113791, 14110082, 2027493, 19846459, 130330763, 10552097, 1655003, 5562722, 1317469, 1951536, 157685662, 687318607, 2852, 54293, 1410928, 4786541, 56221482, 239091, 327127, 2509589, 3332219, 5825744, 65151064, 41901427, 33356, 9196009, 77446, 196509, 550568, 222655, 22599427, 45796, 20008412, 3022545, 1537683, 16373336, 1052688440, 12138136, 5676160, 9449040, 316474, 1736563802, 324234348, 95683320, 48730168, 4489417, 58016, 7713767, 48841389, 4035597, 104984830, 73730, 8610747, 24234387, 66392244, 183976, 2936982, 2885839, 8503220, 747804993, 10474036, 766829595, 2169220, 1489659444, 6185855, 3639092, 8005101872, 6392470720, 6515442466, 7190627, 7704653, 25693, 3465792, 968311853, 4249685402, 361692, 382089, 35983156, 28221632, 30882563, 475907, 33282976, 415189, 99171, 516204, 5806949, 1518631, 304066, 154880593, 193375, 4985932, 25576, 4138267, 749552, 15370, 1114483571, 48342371, 45045711, 72673319, 3271666, 17131, 43787205, 14463794, 281805, 4167978, 9221624, 34765222, 303496381, 8047, 28505853, 2513317, 299917601, 59203, 4247103, 37903553, 3784811, 299225942, 22908, 6539880, 4480586, 10788876, 8182435, 42100085, 134328380, 39236844, 10545735, 4580003, 748211, 1065653, 22673378, 147899583, 19397976, 4815, 8479, 93008, 255431, 33558, 7536, 204076, 406975, 20174, 327578, 32274892, 22437564, 7205410, 117483, 12834791, 3541455, 22843, 5530489, 1827667, 89426216, 848544, 24312189, 70886896, 52337641, 17887393, 37182667, 25754334, 60280098, 848788, 7704531, 6059687, 27984542, 24117994, 12561374, 81689727, 74630897, 11206145, 3454, 214991, 1868871, 14738166, 96157483, 7563983, 23200, 16661, 61979818, 45821648, 3077700, 56796885, 272147302, 128151, 2813004142, 3776167, 39841867, 386561, 360, 35378509, 109322154, 23504, 386737, 9119585530, 42962691, 25223775, 23880730]

                   Deaths  Deaths of children under the age of 1  \
Country name Year
Afghanistan  1950  283668                               106003.0
             1951  282577                               105086.0
             1952  280803                               105028.0
             1953  279684                               104949.0
             1954  280476                               104767.0
...                   ...                                    ...
Zimbabwe     2017  122177                                18619.0
             2018  120252                                18057.0
             2019  123744                                18038.0
             2020  127551                                17903.0
             2021  144973                                17964.0

                   Deaths of children under the age of 5  \
Country name Year
Afghanistan  1950                               156547.0
             1951                               154810.0
             1952                               153384.0
             1953                               152620.0
             1954                               152387.0
...                                                  ...
Zimbabwe     2017                                26780.0
             2018                                25638.0
             2019                                25642.0
             2020                                25292.0
             2021                                25364.0

                   Deaths aged 1 to 4 years  Deaths aged 5 to 9 years  \
Country name Year
Afghanistan  1950                   50544.0                   10043.0
             1951                   49724.0                   10225.0
             1952                   48356.0                   10305.0
             1953                   47671.0                   10321.0
             1954                   47620.0                   10480.0
...                                     ...                       ...
Zimbabwe     2017                    8161.0                    2854.0
             2018                    7581.0                    2733.0
             2019                    7604.0                    2885.0
             2020                    7389.0                    2748.0
             2021                    7400.0                    2746.0

                   Deaths aged 10 to 14 years  Deaths aged 15 to 19 years  \
Country name Year
Afghanistan  1950                      6549.0                      7752.0
             1951                      6588.0                      7802.0
             1952                      6560.0                      7794.0
             1953                      6540.0                      7787.0
             1954                      6716.0                      7914.0
...                                       ...                         ...
Zimbabwe     2017                      2067.0                      3356.0
             2018                      1955.0                      3286.0
             2019                      2031.0                      3371.0
             2020                      1975.0                      3017.0
             2021                      2066.0                      3467.0

                   Deaths aged 20 to 29 years  Deaths aged 30 to 39 years  \
Country name Year
Afghanistan  1950                     18036.0                     17161.0
             1951                     18161.0                     17247.0
             1952                     18121.0                     17179.0
             1953                     18077.0                     17114.0
             1954                     18244.0                     17234.0
...                                       ...                         ...
Zimbabwe     2017                      9682.0                     14998.0
             2018                      9294.0                     14391.0
             2019                      9607.0                     14864.0
             2020                      8985.0                     14332.0
             2021                     10415.0                     15864.0

                   Deaths aged 40 to 49 years  Deaths aged 50 to 59 years  \
Country name Year
Afghanistan  1950                     16389.0                     17605.0
             1951                     16367.0                     17521.0
             1952                     16218.0                     17323.0
             1953                     16081.0                     17139.0
             1954                     16109.0                     17108.0
...                                       ...                         ...
Zimbabwe     2017                     12825.0                     10905.0
             2018                     12947.0                     10806.0
             2019                     13918.0                     11262.0
             2020                     14770.0                     12285.0
             2021                     17747.0                     14801.0

                   Deaths aged 60 to 69 years  Deaths aged 70 to 79 years  \
Country name Year
Afghanistan  1950                     18715.0                     12380.0
             1951                     18681.0                     12536.0
             1952                     18531.0                     12615.0
             1953                     18401.0                     12700.0
             1954                     18404.0                     12849.0
...                                       ...                         ...
Zimbabwe     2017                     16092.0                     12502.0
             2018                     16204.0                     12905.0
             2019                     16492.0                     13522.0
             2020                     17931.0                     15309.0
             2021                     20621.0                     18955.0

                   Deaths aged 80 to 89 years  Deaths aged 90 to 99 years  \
Country name Year
Afghanistan  1950                      2434.0                        55.0
             1951                      2594.0                        49.0
             1952                      2716.0                        58.0
             1953                      2828.0                        71.0
             1954                      2949.0                        81.0
...                                       ...                         ...
Zimbabwe     2017                      7767.0                      2246.0
             2018                      7684.0                      2315.0
             2019                      7678.0                      2371.0
             2020                      8284.0                      2512.0
             2021                      9993.0                      2818.0

                   deaths__all__20_24__records  deaths__all__25_29__records  \
Country name Year
Afghanistan  1950                       9196.0                       8840.0
             1951                       9249.0                       8912.0
             1952                       9211.0                       8910.0
             1953                       9169.0                       8908.0
             1954                       9244.0                       9000.0
...                                        ...                          ...
Zimbabwe     2017                       4370.0                       5312.0
             2018                       4285.0                       5009.0
             2019                       4480.0                       5127.0
             2020                       4196.0                       4789.0
             2021                       4953.0                       5462.0

                   deaths__all__30_34__records  deaths__all__35_39__records  \
Country name Year
Afghanistan  1950                       8684.0                       8477.0
             1951                       8732.0                       8515.0
             1952                       8703.0                       8476.0
             1953                       8676.0                       8438.0
             1954                       8749.0                       8485.0
...                                        ...                          ...
Zimbabwe     2017                       7261.0                       7737.0
             2018                       6696.0                       7695.0
             2019                       6625.0                       8239.0
             2020                       6079.0                       8253.0
             2021                       6603.0                       9261.0

                   deaths__all__40_44__records  deaths__all__45_49__records  \
Country name Year
Afghanistan  1950                       8285.0                       8104.0
             1951                       8288.0                       8079.0
             1952                       8240.0                       7978.0
             1953                       8208.0                       7873.0
             1954                       8253.0                       7856.0
...                                        ...                          ...
Zimbabwe     2017                       6994.0                       5831.0
             2018                       6978.0                       5969.0
             2019                       7420.0                       6498.0
             2020                       7729.0                       7041.0
             2021                       9166.0                       8581.0

                   deaths__all__50_54__records  deaths__all__55_59__records  \
Country name Year
Afghanistan  1950                       8639.0                       8966.0
             1951                       8611.0                       8910.0
             1952                       8544.0                       8779.0
             1953                       8492.0                       8647.0
             1954                       8508.0                       8600.0
...                                        ...                          ...
Zimbabwe     2017                       5159.0                       5746.0
             2018                       5241.0                       5565.0
             2019                       5631.0                       5631.0
             2020                       6228.0                       6057.0
             2021                       7655.0                       7146.0

                   deaths__all__60_64__records  deaths__all__65_69__records  \
Country name Year
Afghanistan  1950                       9698.0                       9017.0
             1951                       9663.0                       9018.0
             1952                       9578.0                       8953.0
             1953                       9508.0                       8893.0
             1954                       9508.0                       8896.0
...                                        ...                          ...
Zimbabwe     2017                       7743.0                       8349.0
             2018                       7519.0                       8685.0
             2019                       7476.0                       9016.0
             2020                       7995.0                       9936.0
             2021                       9113.0                      11508.0

                   deaths__all__70_74__records  deaths__all__75_79__records  \
Country name Year
Afghanistan  1950                       7515.0                       4865.0
             1951                       7573.0                       4963.0
             1952                       7583.0                       5032.0
             1953                       7600.0                       5100.0
             1954                       7661.0                       5188.0
...                                        ...                          ...
Zimbabwe     2017                       7021.0                       5481.0
             2018                       7155.0                       5750.0
             2019                       7472.0                       6050.0
             2020                       8640.0                       6669.0
             2021                      10666.0                       8289.0

                   deaths__all__80_84__records  deaths__all__85_89__records  \
Country name Year
Afghanistan  1950                       1987.0                        447.0
             1951                       2100.0                        494.0
             1952                       2192.0                        524.0
             1953                       2274.0                        554.0
             1954                       2355.0                        594.0
...                                        ...                          ...
Zimbabwe     2017                       4264.0                       3503.0
             2018                       4271.0                       3413.0
             2019                       4357.0                       3321.0
             2020                       4795.0                       3489.0
             2021                       5925.0                       4068.0

                   deaths__all__90_94__records  deaths__all__95_99__records  \
Country name Year
Afghanistan  1950                         51.0                          4.0
             1951                         47.0                          2.0
             1952                         54.0                          4.0
             1953                         65.0                          6.0
             1954                         76.0                          5.0
...                                        ...                          ...
Zimbabwe     2017                       1753.0                        493.0
             2018                       1807.0                        508.0
             2019                       1841.0                        530.0
             2020                       1942.0                        570.0
             2021                       2175.0                        643.0

                   deaths__all__0_9__records  deaths__all__10_19__records  \
Country name Year
Afghanistan  1950                   166590.0                      14301.0
             1951                   165035.0                      14390.0
             1952                   163689.0                      14354.0
             1953                   162941.0                      14327.0
             1954                   162867.0                      14630.0
...                                      ...                          ...
Zimbabwe     2017                    29634.0                       5423.0
             2018                    28371.0                       5241.0
             2019                    28527.0                       5402.0
             2020                    28040.0                       4992.0
             2021                    28110.0                       5533.0

                   deaths__all__100plus__records    Births  \
Country name Year
Afghanistan  1950                            0.0  365303.0
             1951                            0.0  372040.0
             1952                            0.0  378290.0
             1953                            0.0  384933.0
             1954                            0.0  390412.0
...                                          ...       ...
Zimbabwe     2017                           97.0  480635.0
             2018                           99.0  483783.0
             2019                          102.0  484906.0
             2020                          106.0  486393.0
             2021                          114.0  488807.0

                   Births from mothers aged 15 to 19 years  \
Country name Year
Afghanistan  1950                                  49818.0
             1951                                  50953.0
             1952                                  52179.0
             1953                                  53106.0
             1954                                  53903.0
...                                                    ...
Zimbabwe     2017                                  85929.0
             2018                                  88194.0
             2019                                  88507.0
             2020                                  88099.0
             2021                                  86691.0

                   Births from mothers aged 20 to 24 years  \
Country name Year
Afghanistan  1950                                 92189.00
             1951                                 94080.00
             1952                                 95550.00
             1953                                 97439.00
             1954                                 98920.00
...                                                    ...
Zimbabwe     2017                                131067.99
             2018                                132951.00
             2019                                135975.00
             2020                                139791.00
             2021                                144094.00

                   Births from mothers aged 25 to 29 years  \
Country name Year
Afghanistan  1950                                  85980.0
             1951                                  87531.0
             1952                                  88980.0
             1953                                  90483.0
             1954                                  92193.0
...                                                    ...
Zimbabwe     2017                                 106452.0
             2018                                 105130.0
             2019                                 104658.0
             2020                                 104550.0
             2021                                 105480.0

                   Births from mothers aged 30 to 34 years  \
Country name Year
Afghanistan  1950                                  65730.0
             1951                                  66674.0
             1952                                  67546.0
             1953                                  68756.0
             1954                                  69592.0
...                                                    ...
Zimbabwe     2017                                  90133.0
             2018                                  87776.0
             2019                                  84423.0
             2020                                  81470.0
             2021                                  79331.0

                   Births from mothers aged 35 to 39 years  \
Country name Year
Afghanistan  1950                                  43741.0
             1951                                  44425.0
             1952                                  45142.0
             1953                                  45803.0
             1954                                  46370.0
...                                                    ...
Zimbabwe     2017                                  48406.0
             2018                                  50681.0
             2019                                  52091.0
             2020                                  53003.0
             2021                                  53045.0

                   Births from mothers aged 40 to 44 years  \
Country name Year
Afghanistan  1950                                  19594.0
             1951                                  19959.0
             1952                                  20417.0
             1953                                  20751.0